{% extends "base.html" %}
{% block content %}

<div class="mt-5" style="margin-bottom: 35em;">
    <div class="col-md-3 m-auto ">
        <div class="card card-body">
            <h2>Effectuer Paiment </h2>
            <form  method="POST">
                {% csrf_token %}
                <div class="container">
                    <!-- name & Montant -->
                    
                        <div class="col-lg-12">
                            <label for="Montant" class="form-label"></label>
                            <input id="Montant" type="text" name="montant" class="form-control" required>
                        </div>
                        
                      
                   
                        <div class="row">
                            <div class="col-lg-12 ">
                                <label for="tour" class="form-label">Tour</label>
                                <select name="tour" id="tour" class="form-control">
                                    <option value="tour 1">tour 1</option>
                                    <option value="tour 2">tour 2</option>
                                    <option value="tour 3">tour 3</option>
                                    <option value="tour 4">tour 4</option>
                                    <option value="tour 5">tour 5</option>

                                </select>
                            </div>
                           
    
                        </div>

                  
                      <!-- name & Montant -->
                      
        
                        
                       
        
                   
                </div>

                
                <div class="mt-3" style="margin-left:1.5em">
                    <button type="submit" name="#" class="btn btn-primary">Enrégistrer</button>
                </div>

            </form>
        <div/>
    <div/>
<div/>









{% endblock  %}




<!--  formulaire de connection -->
<section>
    <div class="container">
        <div class="form">
            <h2>Nom d'utilisateur:</h2>
            <form method="post" class="connection">
                <div class="inputBox">
                    <input type="text" name="lemail" id="lemail" placeholder="Email" required autocomplete=off>
                </div>
                <div class="inputBox">
                    <input type="password" name="lpassword" id="lpassword" placeholder="Mot de passe" required autocomplete=off>
                </div>
                <div class="inputBox">
                    <input type="password" name="lpassword" id="lpassword" placeholder="Confirmation de mot de pass" required autocomplete=off>
                </div>
                <div class="inputBox">
                    <input type="password" name="lpassword" id="lpassword" placeholder="Email" required autocomplete=off>
                </div>
                <input type="submit" class="btn btn-primary" name="formlogin" id="formlogin" value="S'inscrire" required> 
                <!-- <p class="forget">Mot de passe oublié ? <a href="forget_pass.php">Cliquez ici</a></p> -->
                <p class="forget">Vous n'avez pas de compte ?<a href=""> <span href="sign.php">Se connecter</span></p>  </a>   
            </form> 
        </div> 
    </div>
</section>